@import "./dimensions";
@import "../../utils/colors";
@import "../../utils/mixins";

.sbd-dashboard-footer {
    height: $dashboard-footer-height;
    background-color: white;
    border-top: 1px solid $gray-dark;
    padding: 0 20px;
    @include responsive(desktop-down) {
        padding: 0 8px;
    }
    z-index: 5;

    &__content {
        max-width: 2000px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.75rem;
    }
}
