@import "../../components/footer/dimensions";
@import "../../components/header/dimensions";

.wsb-app-container {
    background-color: rgb(255, 0, 0);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wsb-page-wrapper {
    overflow-y: auto;
    width: 100%;
}

.wsb-page {
    width: 100%;
    background-color: whitesmoke;
    min-height: calc(100vh - $footer-height - $header-height);
}
