.sbd-live-analytics-value-indicator {
  height: 14px;
  margin: 5px 0;

  &__dot {
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--app-color-border);
  }

  &__bar {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    border-radius: 10px;
    border: 1px solid var(--app-color-border);
  }

  &__indicator {
    transition: all 1s;
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: invert(1);
    border: 1px solid var(--mantine-color-text);
    border-radius: 4px;
    bottom: 0;
    top: 0;
    left: 0;
  }
}
