@use "@utils/utils";

$height: 60px;

.header {
  background-color: transparent;
  height: $height;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.5s;
  font-size: 1rem;
  width: 100%;

  &--scroll {
    width: /* clamp(300px, 40vw, 600px); */ fit-content;
    height: 50px;
    position: fixed;
    margin: 0 auto;
    background: #ffffffb8;
    font-size: 0.9rem;
    backdrop-filter: blur(4px);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 100px;
    top: 1rem;
    right: 1rem;
    left: 1rem;

    & .header__content {
      justify-content: center;
    }
  }

  &__content {
    @include utils.page-content();
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  & ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Satoshi-Light";
    color: black;
    gap: 1em;
    margin: 0;
    padding: 0;

    & li,
    & a {
      text-decoration: none;

      &:not(:hover) {
        color: gray;
      }

      &:hover {
        cursor: pointer;
        color: inherit;
      }
    }
  }
}
