@import "./dimensions";
@import "../../utils/colors";

.sbd-dashboard-header {
    height: $dashboard-header-height;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid $gray-dark;
    z-index: 5;

    &__content {
        max-width: 2000px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__favorites {
    }
}

.sbd-dashboard-header-search-result {
    background-color: white;
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
    //border: 1px solid #339af0;
    transition: background-color 0.2s;

    &__info {
        gap: 0;
    }

    &:hover {
        background-color: #e0f2ff;
        //border-color: #339af0;
    }
}
