.dashboard-box-search {
  &__search-item {
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-lg);

    & p:first-of-type {
      font-family: "Satoshi-Bold";
    }

    &:hover {
      background-color: var(--mantine-color-default-hover);
    }
  }

  &__target {
    & .mantine-Button-section {
      margin: 0;
    }

    &:hover {
      &,
      .dashboard-box-search__target__kbg {
        display: block;
        margin-left: var(--mantine-spacing-xs);
      }
    }
    &__kbg {
      display: none;
    }
  }
}
