.sbd-live-analytics-content__box-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.sbd-live-analytics-filters {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
