@mixin responsive($class) {
  @if $class == phone {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == tablet {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  } @else if $class == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $class == phone-up {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == desktop-down {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $class == phone-l {
    @media (max-width: 424px) {
      @content;
    }
  } @else if $class == desktop-4k {
    @media (max-width: 1440px) {
      @content;
    }
  } @else {
    @warn "Valid parameters: [phone, phone-up, phone-l], [tablet], [desktop-down, desktop, desktop-4k]";
  }
}

@mixin orientation($type) {
  @if $type == landscape {
    @media (orientation: landscape) {
      @content;
    }
  } @else if $type == portrait {
    @media (orientation: portrait) {
      @content;
    }
  }
}

@mixin page-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 26px;

  /* @include responsive(phone) {
    padding: 0 16px;
  } */
}

@mixin grid($size, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($size, 1fr));
  gap: $gap;

  @include responsive(phone) {
    grid-template-columns: 1fr;
    gap: $gap;
  }
}

/* color: light-dark(
  var(--mantine-color-black),
  var(--mantine-color-white)
); */

@mixin light {
  [data-mantine-color-scheme="light"] & {
    @content;
  }
}

@mixin dark {
  [data-mantine-color-scheme="dark"] & {
    @content;
  }
}
