.sbd-detailed-data-container {
    display: flex;
    flex-direction: column;
}

.sbd-detailed-data-relative-time-container {
    &__section {
        display: flex;
        flex-direction: column;
    }
}

.sbd-detailed-data-graph-container {
    height: 100%;
}
