@use "@utils/utils";

$transition-duration: 0.3s;

@keyframes update-value-animation {
  0% {
    color: var(--mantine-color-dynamicPrimary-text);
  }
  100% {
    color: inherit;
  }
}

.value-paper {
  border-radius: var(--mantine-radius-md);
  transition: background-color $transition-duration ease;
  overflow: hidden;
  height: fit-content;

  &__last-measure {
    position: absolute;
    top: -0.5em;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    font-size: 0.8em;
    font-family: "Satoshi-Light";
    background-color: var(--mantine-color-body);
    z-index: 3;
    padding: 0.1em;
    border-radius: 0 0 var(--mantine-radius-sm) var(--mantine-radius-sm);
    display: none;
  }

  &__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    scale: 6;
    opacity: 0.05;
    transition: opacity $transition-duration ease;
  }

  &__grid {
    /* padding: var(--mantine-spacing-md) 0; */
    @include utils.grid(210px);
  }

  &__subtitle {
    padding: 0.3rem var(--mantine-spacing-sm);
    color: var(--app-color-text-dimmed);
  }

  &__content {
    padding: var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);
    /* height: auto; */
    transition: background-color $transition-duration ease /* , height $transition-duration ease */;
    overflow: hidden;
  }

  &__value {
    font-family: "Satoshi-Black";
    font-size: 2.2rem;

    & span:last-of-type {
      font-family: "Satoshi-Regular";
      font-size: 0.5em;
      margin-left: 0.2em;
      white-space: nowrap;
    }

    &--refresh {
      &,
      .value-paper__value--refresh span:first-of-type {
        animation: update-value-animation 2s ease;
      }
    }
  }

  &:hover {
    .value-paper__icon {
      opacity: 0.15;
    }

    .value-paper__last-measure {
      display: block;
    }
  }

  @include utils.light {
    background: var(--mantine-color-gray-0);

    .value-paper__content {
      background: var(--mantine-color-gray-1);
    }

    &:hover,
    &:focus,
    &:active {
      background: var(--mantine-color-gray-1);

      .value-paper__content {
        background: var(--mantine-color-gray-2);
      }
    }
  }

  @include utils.dark {
    background: var(--mantine-color-dark-9);

    .value-paper__content {
      background: var(--mantine-color-dark-8);
    }

    &:hover,
    &:focus,
    &:active {
      background: var(--mantine-color-dark-8);

      .value-paper__content {
        background: var(--mantine-color-dark-7);
      }
    }
  }
}
