@use "@utils/utils";
@use "@components/static/footer/footer";
@use "@components/static/header/header";

:root {
  color-scheme: light dark;

  &[data-mantine-color-scheme="dark"] {
    --mantine-color-text: #fff !important;
    --mantine-color-body: #161616 !important;

    --app-color-text-dimmed: #c7c7c7;
    --app-color-border: #1f1f1f;
  }

  &[data-mantine-color-scheme="light"] {
    --mantine-color-text: #111111 !important;
    /* --mantine-color-body: $color-silver !important; */

    --app-color-text-dimmed: #3f3f3f;
    --app-color-border: #e0e0e0;
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font-family: "Satoshi-Regular", Inter, Arial, system-ui, Avenir, Helvetica, sans-serif; */
  line-height: 1 !important;
  font-weight: 400;
  font-size: 20px;

  @include utils.responsive(phone) {
    font-size: 18px;
  }

  @include utils.responsive(phone-l) {
    font-size: 16px;
  }
}

#root {
  height: 100%;
}

body,
html {
  margin: 0;
  height: 100vh;
}

iframe {
  border: none;
  border-radius: var(--mantine-radius-md);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

:focus {
  outline-offset: 2px;
  
  @include utils.light {
    outline: 2px dashed black;
  }

  @include utils.dark {
    outline: 2px dashed white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.full-width {
  width: 100%;
}

.hidden {
  &--phone {
    @include utils.responsive(phone) {
      display: none;
    }
  }

  &--phone-and-tablet {
    @include utils.responsive(desktop-down) {
      display: none;
    }
  }

  &--desktop {
    @include utils.responsive(desktop) {
      display: none;
    }
  }

  &--tablet-and-desktop {
    @include utils.responsive(phone-up) {
      display: none;
    }
  }
}

.page-container {
  max-width: 100vw;
  min-width: 320px;
  margin: 0 auto;
  min-height: calc(100vh - footer.$height - header.$height);
  background-color: var(--mantine-color-body);
  z-index: 1;
  overflow: hidden;
}

.page-content {
  @include utils.page-content;
}

.mantine-Modal-overlay {
  backdrop-filter: blur(5px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-break {
  display: flex;
  &--100 {
    @include utils.flex-break(100px){
      display: flex;
      flex-direction: column;
    }
  }
  &--200 {
    @include utils.flex-break(200px){
      display: flex;
      flex-direction: column;
    }
  }
  &--300 {
    @include utils.flex-break(300px){
      display: flex;
      flex-direction: column;
    }
  }
  &--400 {
    @include utils.flex-break(400px){
      display: flex;
      flex-direction: column;
    }
  }
  &--500 {
    @include utils.flex-break(500px){
      display: flex;
      flex-direction: column;
    }
  }
}
