@import "./dimensions";

.wbs-header {
  width: 100%;
  height: $header-height;
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;

  &__nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    &__item {
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        text-decoration: overline;
      }

      &--selected {
        text-decoration: overline;
        color: rgb(248, 213, 11);
      }
    }
  }
}
